---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&From=8562830298&To=11111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwMzJhOTMwZjg3YzE2ZjAzOWYwMzUxN2UzMmQ2YjdmZjowNzJjMzIxN2Q0OTM0ODc1YTc1ZTFlZDE5MmM2OGM5Nw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.053'
      Twilio-Request-Id:
      - RQ780c9e91dd0f4a7baafe8e657493dc09
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 11111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Tue, 27 Sep 2016 01:50:25 GMT
recorded_with: VCR 3.0.3
